.footer {
  background-color: var(--color-primary);
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: min(90%, 960px);
}
